
###> symfony/framework-bundle ###
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
/deploy.sh
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/asset-mapper ###
/public/assets/
/assets/vendor/
###< symfony/asset-mapper ###
/public/robots.txt
src/Command/DatabaseDataBackupCommand.php

# --- Environment / server specific ---
.env
.env.local
.env.*.local

# --- Apache / server ---
public/.htaccess
public/phpinfo.php

# --- Uploaded files ---
public/uploads/

# Assets générés / prod
/public/css/*.css
/public/js/*.js
