{% extends 'base.html.twig' %}

{% block title %} 
  Welcome
{% endblock %}

{% block body %}
  <img src="{{ asset('images/banner_top.jpg') }}" alt="FFA">
  <div class='container mt-4'>
    <div class="jumbotron text-center">
      <h1 class="display-6">Sports aériens : Rallye - Pilotage de précision - ANR</h1>
      <p class="lead">Gestion des épreuves de compétitons organisées par la Fédération Française Aéronautique</p>
    </div>  </div>
{% endblock %}