{% extends '@EasyAdmin/layout.html.twig' %}

{% block main %}
<div class="container mt-4">
    <h1>Importer les résultats</h1>

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">{{ message }}</div>
    {% endfor %}
    {% for message in app.flashes('danger') %}
        <div class="alert alert-danger">{{ message }}</div>
    {% endfor %}
    <form method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="competition" class="form-label">Compétition</label>
            <select name="competition_id" id="competition" class="form-select" required>
                <option value="">-- Choisir une compétition --</option>
                {% for competition in competitions %}
                    <option value="{{ competition.id }}">{{ competition.name }}</option>
                {% endfor %}
            </select>
        </div>
 
        <div class="mb-3" style="max-width: 400px;">
            <label for="csv_file" class="form-label">Fichier CSV</label>
            <input type="file" name="csv_file" id="csv_file" accept=".csv" class="form-control border border-dark" required>
        </div>

        <button type="submit" class="btn btn-primary">Importer</button>
    </form>
</div>

{% endblock %}