<h3>Activez votre compte</h3>
<p>Bonjour {{ user.firstname }},</p>
Votre inscription sur le site sports-ffa-aero est à valider en cliquant sur le lien ci-dessous :</p>
<p> <a href="">Lien</a></p>
<p>Ce lien expirera dans 3 heures</p>