{# templates/admin/fields/password_toggle.html.twig #}
{% block field %}
<div class="password-toggle-wrapper position-relative">
    <input
        type="password"
        name="{{ field.form.vars.full_name }}"
        id="{{ field.form.vars.id }}"
        class="form-control pe-5"
        value=""
        autocomplete="new-password"
    >
    <button type="button" class="btn btn-sm position-absolute end-0 top-0 mt-1 me-1 toggle-password" tabindex="-1" style="z-index: 5;">
        <i class="fa fa-eye"></i>
    </button>
</div>
{% endblock %}
